<div class="main-content">
  <div class="card" id="welcome">
    <h1>BENVENUTO IN APPCO2:</h1>
    <span><h2>{{getNameAz()}}</h2></span>
  </div>
  <div class="cards">
    <div class="container">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <p class="title">Emissione globale di all'anno di CO2</p>
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h3>33 miliardi di tonnellate (Gt)</h3>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
              <p class="title">Emissione C02 {{getNameAz()}}</p>
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h3>
              {{consumoAz()}}
            </h3>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <i class="fa fa-envira" aria-hidden="true"></i>
              <p class="title">Emissione europea all'anno di CO2</p>
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h3>
              2,9 miliardi di tonnellate (Gt)
            </h3>
            <p>9,6% delle emissioni globali</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container-fluid">
      <div class="card" id="welcome">
        <h1>BENVENUTO IN APPCO2:</h1>
        <span><h2>Nome azienda</h2></span>
      </div>
      
        <div class="card-container">
        <div class="card">
            <h1>HELLO</h1>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al csssssssssssssssssssssssssssssssssssssslero</span> <br>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            
        </div>
        <div class="card">
            <h1>HELLO</h1>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            <span>Mannaggia al clero</span> <br>
            
        </div>
        <div class="card">
            <h1>HELLO</h1>
        </div>
      </div>
  </div> -->
  </div>
</div>
